<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.1.3 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5e1f6a1c15808b31a1bccd9bb2558b8:-/1$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>sprites-ipad.1.png</string>
                <key>size</key>
                <string>{1024,1024}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>Background.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{1022,768}</string>
                        <key>textureRect</key>
                        <string>{{0,0},{1022,768}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0015.png</string>
                        <key>spriteOffset</key>
                        <string>{10,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{0,770},{82,160}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0016.png</string>
                        <key>spriteOffset</key>
                        <string>{10,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{0,770},{82,160}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{0,932},{152,84}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{0,932},{152,84}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{7,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{84,770},{80,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{7,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{84,770},{80,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0001.png</string>
                        <key>spriteOffset</key>
                        <string>{10,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{154,930},{151,84}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0002.png</string>
                        <key>spriteOffset</key>
                        <string>{10,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{154,930},{151,84}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0013.png</string>
                        <key>spriteOffset</key>
                        <string>{15,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{166,770},{74,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0014.png</string>
                        <key>spriteOffset</key>
                        <string>{15,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{166,770},{74,158}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0007.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{242,770},{66,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0008.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{242,770},{66,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0005.png</string>
                        <key>spriteOffset</key>
                        <string>{13,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{307,929},{154,76}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0006.png</string>
                        <key>spriteOffset</key>
                        <string>{13,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{307,929},{154,76}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0005.png</string>
                        <key>spriteOffset</key>
                        <string>{14,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{310,770},{64,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0006.png</string>
                        <key>spriteOffset</key>
                        <string>{14,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{310,770},{64,157}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0009.png</string>
                        <key>spriteOffset</key>
                        <string>{16,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{376,770},{70,156}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0010.png</string>
                        <key>spriteOffset</key>
                        <string>{16,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{376,770},{70,156}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0011.png</string>
                        <key>spriteOffset</key>
                        <string>{14,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{448,770},{68,156}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0012.png</string>
                        <key>spriteOffset</key>
                        <string>{14,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{448,770},{68,156}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0011.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{463,928},{153,76}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0012.png</string>
                        <key>spriteOffset</key>
                        <string>{0,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{463,928},{153,76}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0003.png</string>
                        <key>spriteOffset</key>
                        <string>{18,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{518,770},{72,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0004.png</string>
                        <key>spriteOffset</key>
                        <string>{18,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{518,770},{72,153}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0007.png</string>
                        <key>spriteOffset</key>
                        <string>{20,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{592,770},{72,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/walk/0008.png</string>
                        <key>spriteOffset</key>
                        <string>{20,9}</string>
                        <key>spriteSourceSize</key>
                        <string>{94,162}</string>
                        <key>textureRect</key>
                        <string>{{592,770},{72,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0009.png</string>
                        <key>spriteOffset</key>
                        <string>{6,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{618,924},{151,64}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>capguy/turn/0010.png</string>
                        <key>spriteOffset</key>
                        <string>{6,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{104,165}</string>
                        <key>textureRect</key>
                        <string>{{618,924},{151,64}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
